name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-18.04, macOS-10.15]
    steps:
      - name: Setup Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
        id: go

      - uses: actions/checkout@v2

      - name: Test
        run: make

      - name: Upload coverage to Codecov
        timeout-minutes: 10
        uses: codecov/codecov-action@v1.0.6
        with:
          file: ./coverage.txt
